 <section class="info_three element">
    <div class="bg-white md:flex md:flex-col md:items-center md:justify-center font-raleway">
        <div class="flex flex-col md:flex-row gap-x-40 items-center md:justify-center md:pt-6 my-0 md:px-20">
            <div class="relative my-8 w-11/12 md:w-auto">
                <p class="hidden md:block text-devoglas-main md:uppercase md:font-black md:text-6xl">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <p class="md:hidden text-devoglas-main font-black text-4xl pt-6 mx-auto">
                Lorem ipsum dolor sit amet
                </p>
                <p class="text-devoglas-third font-black text-2xl md:text-3xl pt-6 mb-4 mx-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                </p>
            </div>
            <figure class="hidden md:block md:bg-gray-400 md:my-20 w-11/12 overflow-hidden h-[325px]">
                <img src="" alt="Placeholder">
            </figure>
        </div>
<!-- moblie view with swipper-->
    <article class="mobile slider element">
        <div class="swiper swiper-js">
            <div class="swiper-wrapper md:hidden">
                <div class="swiper-slide flex flex-col justify-center items-center mb-20 mx-auto">
                    <div class="relative border shadow-lg w-11/12 px-10 py-10">
                        <p class="text-devoglas-main font-black text-3xl py-4">
                        Lorem ipsum
                        </p>
                        <p class="text-devoglas-main text-xl font-bold py-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet facilisi viverra ultrices tellus elementum nisi, duis. Feugiat morbi nec dictum pharetra pellentesque ut ac. Sed eget fringilla elementum pellentesque leo phasellus. Vitae in lorem et sed nunc est et, elit fringilla. Diam tristique fusce felis fringilla.
                        </p>
                    </div>
                </div>

                <div class="swiper-slide flex flex-col justify-center items-center mb-20 mx-auto">
                    <div class="relative border shadow-lg w-11/12 px-10 py-10">
                        <p class="text-devoglas-main font-black text-3xl py-4">
                        Lorem ipsum
                        </p>
                        <p class="text-devoglas-main text-xl font-bold py-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet facilisi viverra ultrices tellus elementum nisi, duis. Feugiat morbi nec dictum pharetra pellentesque ut ac. Sed eget fringilla elementum pellentesque leo phasellus. Vitae in lorem et sed nunc est et, elit fringilla. Diam tristique fusce felis fringilla.
                        </p>
                    </div>
                </div>

                <div class="swiper-slide flex flex-col justify-center items-center mb-20 mx-auto">
                    <div class="relative border shadow-lg w-11/12 px-10 py-10">
                        <p class="text-devoglas-main font-black text-3xl py-4">
                        Lorem ipsum
                        </p>
                        <p class="text-devoglas-main text-xl font-bold py-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet facilisi viverra ultrices tellus elementum nisi, duis. Feugiat morbi nec dictum pharetra pellentesque ut ac. Sed eget fringilla elementum pellentesque leo phasellus. Vitae in lorem et sed nunc est et, elit fringilla. Diam tristique fusce felis fringilla.
                        </p>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </article>

<!-- desktop view without swipper-->
    <article class="desktop text boxes">
        <div class="hidden md:flex md:flex-row md:justify-center md:items-center gap-x-2 md:pt-4 md:pb-8 md:mb-20 md:mx-auto">
            <div class="relative border shadow-lg w-11/12 md:w-[400px] px-10 py-10 md:mb-auto">
                <p class="text-devoglas-main font-black text-3xl py-4">
                Lorem ipsum
                </p>
                <p class="text-devoglas-main text-xl font-bold py-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet facilisi viverra ultrices tellus elementum nisi, duis. Feugiat morbi nec dictum pharetra pellentesque ut ac. Sed eget fringilla elementum pellentesque leo phasellus. Vitae in lorem et sed nunc est et, elit fringilla. Diam tristique fusce felis fringilla.
                </p>
            </div>

            <div class="relative border shadow-lg w-11/12 md:w-[400px] px-10 py-10 md:mb-auto">
                <p class="text-devoglas-main font-black text-3xl py-4">
                Lorem ipsum
                </p>
                <p class="text-devoglas-main text-xl font-bold py-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet facilisi viverra ultrices tellus elementum nisi, duis. Feugiat morbi nec dictum pharetra pellentesque ut ac. Sed eget fringilla elementum pellentesque leo phasellus. Vitae in lorem et sed nunc est et, elit fringilla. Diam tristique fusce felis fringilla.
                </p>
            </div>

            <div class="relative border shadow-lg w-11/12 md:w-[400px] px-10 py-10 mb-16 md:mb-auto">
                <p class="text-devoglas-main font-black text-3xl py-4">
                Lorem ipsum
                </p>
                <p class="text-devoglas-main text-xl font-bold py-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet facilisi viverra ultrices tellus elementum nisi, duis. Feugiat morbi nec dictum pharetra pellentesque ut ac. Sed eget fringilla elementum pellentesque leo phasellus. Vitae in lorem et sed nunc est et, elit fringilla. Diam tristique fusce felis fringilla.
                </p>
            </div>
        </div>
    </article>
    </div>
 </section>
</main>
