<section class="info_two element">
    <div class="bg-[#f6f6f6] my-12 py-16 md:flex md:flex-col md:items-center md:justify-center font-raleway">
        <div class="flex flex-col md:flex-row gap-x-40 items-center md:justify-center md:pt-6 my-0 md:px-20">
            <figure class="hidden md:block md:bg-gray-400 md:my-20 w-11/12 overflow-hidden h-[345px]">
                <img scr="" alt="Placeholder">
            </figure>
            <div class="relative my-8 w-11/12 md:w-auto">
                <p class="hidden md:block text-devoglas-main font-black text-4xl md:uppercase md:text-6xl py-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            
                <p class="md:hidden text-devoglas-main font-black text-4xl md:uppercase md:text-6xl py-4">
                Lorem ipsum dolor sit amet
                </p>

                <p class="text-devoglas-third font-extrabold md:font-black text-2xl md:text-3xl pt-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>


<!-- moblie view with swipper-->
    <!-- first swipper-->
    <article class="mobile first slider">
        <div class="swiper swiper-js">
            <div class="swiper-wrapper md:hidden">
                <div class="swiper-slide flex flex-col items-center gap-x-8 my-4 mb-24">
                    <div class="group transition duration-200 bg-white hover:bg-devoglas-second text-devoglas-second relative box-border w-11/12 h-[406px] border shadow-lg px-8 pt-24 overflow-hidden">
                        <p class="transform transition duration-200 my-2 group-hover:text-white group-hover:-translate-y-20 text-3xl font-black z-10">
                        Lorem ipsum
                        </p>
                        <p class="transform transition duration-200 group-hover:text-white group-hover:-translate-y-20 text-2xl py-4 font-extrabold z-10">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <p class="transform -translate-y-20 text-white invisible overflow-hidden transition duration-200 group-hover:visible text-lg font-bold py-4 z-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id nulla elit semper consectetur dolor auctor. Nunc ullamcorper semper gravida senectus.
                        </p>
                    </div>
                </div>

                <div class="swiper-slide flex flex-col items-center gap-x-8 my-4 mb-24">
                    <div class="group transition duration-200 bg-white hover:bg-devoglas-second text-devoglas-second relative box-border w-11/12 h-[406px] border shadow-lg px-8 pt-24 overflow-hidden">
                        <p class="transform transition duration-200 my-2 group-hover:text-white group-hover:-translate-y-20 text-3xl font-black z-10">
                        Lorem ipsum
                        </p>
                        <p class="transform transition duration-200 group-hover:text-white group-hover:-translate-y-20 text-2xl py-4 font-extrabold z-10">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <p class="transform -translate-y-20 text-white invisible overflow-hidden transition duration-200 group-hover:visible text-lg font-bold py-4 z-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id nulla elit semper consectetur dolor auctor. Nunc ullamcorper semper gravida senectus.
                        </p>
                    </div>
                </div>
            
                <div class="swiper-slide flex flex-col items-center gap-x-8 my-4 mb-24">
                    <div class="group transition duration-200 bg-white hover:bg-devoglas-second text-devoglas-second relative box-border w-11/12 h-[406px] border shadow-lg px-8 pt-24 overflow-hidden">
                        <p class="transform transition duration-200 my-2 group-hover:text-white group-hover:-translate-y-20 text-3xl font-black z-10">
                        Lorem ipsum
                        </p>
                        <p class="transform transition duration-200 group-hover:text-white group-hover:-translate-y-20 text-2xl py-4 font-extrabold z-10">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <p class="transform -translate-y-20 text-white invisible overflow-hidden transition duration-200 group-hover:visible text-lg font-bold py-4 z-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id nulla elit semper consectetur dolor auctor. Nunc ullamcorper semper gravida senectus.
                        </p>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </article>

    <!-- second swipper-->
    <article class="mobile second slider">
        <div class="swiper swiper-js">
            <div class="swiper-wrapper md:hidden">
                <div class="swiper-slide flex flex-col items-center gap-x-8 my-4 mb-24">
                    <div class="w-11/12 md:w-auto">
                        <figure class="bg-gray-400 w-full h-[406px] overflow-hidden">
                            <img src="" alt="Placeholder">
                        </figure>
                        </div>
                </div>

                <div class="swiper-slide flex flex-col items-center gap-x-8 my-4 mb-24">
                    <div class="group transition duration-200 bg-white hover:bg-devoglas-second text-devoglas-second relative box-border w-11/12 h-[406px] border shadow-lg px-8 pt-24 overflow-hidden">
                        <p class="transform transition duration-200 my-2 group-hover:text-white group-hover:-translate-y-20 text-3xl font-black z-10">
                        Lorem ipsum
                        </p>
                        <p class="transform transition duration-200 group-hover:text-white group-hover:-translate-y-20 text-2xl py-4 font-extrabold z-10">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <p class="transform -translate-y-20 text-white invisible overflow-hidden transition duration-200 group-hover:visible text-lg font-bold py-4 z-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id nulla elit semper consectetur dolor auctor. Nunc ullamcorper semper gravida senectus.
                        </p>
                    </div>
                </div>
            
                <div class="swiper-slide flex flex-col items-center gap-x-8 my-4 mb-24">
                    <div class="group transition duration-200 bg-white hover:bg-devoglas-second text-devoglas-second relative box-border w-11/12 h-[406px] border shadow-lg px-8 pt-24 overflow-hidden">
                        <p class="transform transition duration-200 my-2 group-hover:text-white group-hover:-translate-y-20 text-3xl font-black z-10">
                        Lorem ipsum
                        </p>
                        <p class="transform transition duration-200 group-hover:text-white group-hover:-translate-y-20 text-2xl py-4 font-extrabold z-10">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <p class="transform -translate-y-20 text-white invisible overflow-hidden transition duration-200 group-hover:visible text-lg font-bold py-4 z-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id nulla elit semper consectetur dolor auctor. Nunc ullamcorper semper gravida senectus.
                        </p>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </article>

    <!-- third swipper-->
    <article class="mobile third slider">
        <div class="swiper swiper-js">
            <div class="swiper-wrapper md:hidden">
                <div class="swiper-slide flex flex-col items-center gap-x-8 my-4 mb-24">
                    <div class="group transition duration-200 bg-white hover:bg-devoglas-second text-devoglas-second relative box-border w-11/12 h-[406px] border shadow-lg px-8 pt-24 overflow-hidden">
                        <p class="transform transition duration-200 my-2 group-hover:text-white group-hover:-translate-y-20 text-3xl font-black z-10">
                        Lorem ipsum
                        </p>
                        <p class="transform transition duration-200 group-hover:text-white group-hover:-translate-y-20 text-2xl py-4 font-extrabold z-10">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <p class="transform -translate-y-20 text-white invisible overflow-hidden transition duration-200 group-hover:visible text-lg font-bold py-4 z-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id nulla elit semper consectetur dolor auctor. Nunc ullamcorper semper gravida senectus.
                        </p>
                    </div>
                </div>
            
                <div class="swiper-slide flex flex-col items-center gap-x-8 my-4 mb-24">
                    <div class="group transition duration-200 bg-white hover:bg-devoglas-second text-devoglas-second relative box-border w-11/12 h-[406px] border shadow-lg px-8 pt-24 overflow-hidden">
                        <p class="transform transition duration-200 my-2 group-hover:text-white group-hover:-translate-y-20 text-3xl font-black z-10">
                        Lorem ipsum
                        </p>
                        <p class="transform transition duration-200 group-hover:text-white group-hover:-translate-y-20 text-2xl py-4 font-extrabold z-10">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <p class="transform -translate-y-20 text-white invisible overflow-hidden transition duration-200 group-hover:visible text-lg font-bold py-4 z-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id nulla elit semper consectetur dolor auctor. Nunc ullamcorper semper gravida senectus.
                        </p>
                    </div>
                </div>

                <div class="swiper-slide flex flex-col items-center gap-x-8 my-4 mb-24">
                    <div class="w-11/12 md:w-auto">
                        <figure class="bg-gray-400 w-full h-[406px] overflow-hidden">
                            <img src="" alt="Placeholder">
                        </figure>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </article>

<!-- desktop view without swipper-->
    <article class="desktop boxes grid element">
        <div class="hidden md:flex-col md:items-center md:grid md:grid-cols-3 gap-y-8 md:gap-6 my-4">
            <div class="group transition duration-200 bg-white hover:bg-devoglas-second text-devoglas-second relative box-border w-11/12 md:w-[380px] h-[400px] border shadow-lg px-8 pt-28 overflow-hidden">
                <p class="transform transition duration-200 my-2 group-hover:text-white group-hover:-translate-y-20 text-3xl font-black z-10">
                Lorem ipsum
                </p>
                <p class="transform transition duration-200 group-hover:text-white group-hover:-translate-y-20 text-2xl py-4 font-extrabold z-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <p class="transform -translate-y-20 text-white invisible overflow-hidden transition duration-200 group-hover:visible text-lg font-bold py-4 z-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id nulla elit semper consectetur dolor auctor. Nunc ullamcorper semper gravida senectus.
                </p>
            </div>

            <div class="group transition duration-200 bg-white hover:bg-devoglas-second text-devoglas-second relative box-border w-11/12 md:w-[380px] h-[400px] border shadow-lg px-8 pt-28 overflow-hidden">
                <p class="transform transition duration-200 my-2 group-hover:text-white group-hover:-translate-y-20 text-3xl font-black z-10">
                Lorem ipsum
                </p>
                <p class="transform transition duration-200 group-hover:text-white group-hover:-translate-y-20 text-2xl py-4 font-extrabold z-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <p class="transform -translate-y-20 text-white invisible overflow-hidden transition duration-200 group-hover:visible text-lg font-bold py-4 z-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id nulla elit semper consectetur dolor auctor. Nunc ullamcorper semper gravida senectus.
                </p>
            </div>

            <div class="group transition duration-200 bg-white hover:bg-devoglas-second text-devoglas-second relative box-border w-11/12 md:w-[380px] h-[400px] border shadow-lg px-8 pt-28 overflow-hidden">
                <p class="transform transition duration-200 my-2 group-hover:text-white group-hover:-translate-y-20 text-3xl font-black z-10">
                Lorem ipsum
                </p>
                <p class="transform transition duration-200 group-hover:text-white group-hover:-translate-y-20 text-2xl py-4 font-extrabold z-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <p class="transform -translate-y-20 text-white invisible overflow-hidden transition duration-200 group-hover:visible text-lg font-bold py-4 z-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id nulla elit semper consectetur dolor auctor. Nunc ullamcorper semper gravida senectus.
                </p>
            </div>

            <div class="w-11/12 md:w-auto">
                <figure class="bg-gray-400 w-full md:w-[380px] h-[400px] overflow-hidden">
                    <img src="" alt="Placeholder">
                </figure>
                </div>

            <div class="group transition duration-200 bg-white hover:bg-devoglas-second text-devoglas-second relative box-border w-11/12 md:w-[380px] h-[400px] border shadow-lg px-8 pt-28 overflow-hidden">
                <p class="transform transition duration-200 my-2 group-hover:text-white group-hover:-translate-y-20 text-3xl font-black z-10">
                Lorem ipsum
                </p>
                <p class="transform transition duration-200 group-hover:text-white group-hover:-translate-y-20 text-2xl py-4 font-extrabold z-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <p class="transform -translate-y-20 text-white invisible overflow-hidden transition duration-200 group-hover:visible text-lg font-bold py-4 z-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id nulla elit semper consectetur dolor auctor. Nunc ullamcorper semper gravida senectus.
                </p>
            </div>

            <div class="group transition duration-200 bg-white hover:bg-devoglas-second text-devoglas-second relative box-border w-11/12 md:w-[380px] h-[400px] border shadow-lg px-8 pt-28 overflow-hidden">
                <p class="transform transition duration-200 my-2 group-hover:text-white group-hover:-translate-y-20 text-3xl font-black z-10">
                Lorem ipsum
                </p>
                <p class="transform transition duration-200 group-hover:text-white group-hover:-translate-y-20 text-2xl py-4 font-extrabold z-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <p class="transform -translate-y-20 text-white invisible overflow-hidden transition duration-200 group-hover:visible text-lg font-bold py-4 z-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id nulla elit semper consectetur dolor auctor. Nunc ullamcorper semper gravida senectus.
                </p>
            </div>

            <div class="group transition duration-200 bg-white hover:bg-devoglas-second text-devoglas-second relative box-border w-11/12 md:w-[380px] h-[400px] border shadow-lg px-8 pt-28 overflow-hidden">
                <p class="transform transition duration-200 my-2 group-hover:text-white group-hover:-translate-y-20 text-3xl font-black z-10">
                Lorem ipsum
                </p>
                <p class="transform transition duration-200 group-hover:text-white group-hover:-translate-y-20 text-2xl py-4 font-extrabold z-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <p class="transform -translate-y-20 text-white invisible overflow-hidden transition duration-200 group-hover:visible text-lg font-bold py-4 z-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id nulla elit semper consectetur dolor auctor. Nunc ullamcorper semper gravida senectus.
                </p>
            </div>

            <div class="group transition duration-200 bg-white hover:bg-devoglas-second text-devoglas-second relative box-border w-11/12 md:w-[380px] h-[400px] border shadow-lg px-8 pt-28 overflow-hidden">
                <p class="transform transition duration-200 my-2 group-hover:text-white group-hover:-translate-y-20 text-3xl font-black z-10">
                Lorem ipsum
                </p>
                <p class="transform transition duration-200 group-hover:text-white group-hover:-translate-y-20 text-2xl py-4 font-extrabold z-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <p class="transform -translate-y-20 text-white invisible overflow-hidden transition duration-200 group-hover:visible text-lg font-bold py-4 z-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id nulla elit semper consectetur dolor auctor. Nunc ullamcorper semper gravida senectus.
                </p>
            </div>

            <div class="w-11/12 md:w-auto">
                <figure class="bg-gray-400 w-full md:w-[380px] h-[400px] overflow-hidden">
                    <img src="" alt="Placeholder">
                </figure>
                </div>
        </div>
    </article>
    </div>
</section>