<section class="info_one element">
    <div class="flex flex-col md:flex-row gap-x-40 items-center md:justify-center md:pt-6 m-0 mt-20 md:mt-2 md:px-20 font-raleway">
        <div class="relative my-8 w-11/12 md:w-auto">
            <p class="text-devoglas-main font-black text-4xl md:uppercase md:text-6xl py-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        
            <p class="text-devoglas-third font-extrabold md:font-black text-2xl md:text-3xl py-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
        <figure class="bg-gray-400 md:my-16 w-11/12 overflow-hidden h-[345px]">
            <img  scr="" alt="Placeholder">
        </figure>
    </div>

<!-- Swipper in mobile view -->
    <article class="mobile slider element">
     <div class="swiper swiper-js md:hidden">
        <div class="swiper-wrapper">
            <div class="swiper-slide flex flex-col items-center gap-x-8 font-raleway pt-12 mb-24">
                <div class="relative mt-8 box-border w-11/12 h-[406px] border shadow-xl p-10">
                    <span><img src="images/pc-icon.png" width="53.89" height="45" alt="PC icon"></span>
                        <p class="text-devoglas-main text-3xl font-black pt-6">
                        Lorem ipsum dolor consectetur adipiscing elit.
                        </p>
                        <p class="text-devoglas-third text-xl font-extrabold pt-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </p>
                </div>         
            </div>

            <div class="swiper-slide flex flex-col items-center gap-x-8 font-raleway pt-12 mb-24">
                <div class="relative mt-8 box-border w-11/12 h-[406px] border shadow-xl p-10">
                    <span><img src="images/rocket-icon.png" width="53.89" height="45" alt="PC icon"></span>
                        <p class="text-devoglas-main text-3xl font-black pt-6">
                        Lorem ipsum dolor consectetur adipiscing elit.
                        </p>
                        <p class="text-devoglas-third text-xl font-extrabold pt-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </p>
                </div>         
            </div>

            <div class="swiper-slide flex flex-col items-center gap-x-8 font-raleway pt-12 mb-24">
                <div class="relative mt-8 box-border w-11/12 h-[406px] border shadow-xl p-10">
                    <span><img src="images/check-icon.png" width="53.89" height="45" alt="PC icon"></span>
                        <p class="text-devoglas-main text-3xl font-black pt-6">
                        Lorem ipsum dolor consectetur adipiscing elit.
                        </p>
                        <p class="text-devoglas-third text-xl font-extrabold pt-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </p>
                </div>         
            </div>
        </div>

        <div class="swiper-pagination"></div>

     </div>
    </article>

<!-- desktop view without swipper-->
    <article class="desktop boxes with icons">
     <div class="hidden md:flex md:flex-row md:items-baseline md:justify-center gap-x-12 md:pt-4 md:pb-8 font-raleway">
        <div class="relative mt-8 box-border w-[400px] h-[406px] border shadow-xl p-10">
            <span><img class="pt-10" src="images/pc-icon.png" width="53.89" height="45" alt="PC icon"></span>
            <p class="text-devoglas-main text-3xl font-black pt-6">
                Lorem ipsum dolor consectetur adipiscing elit.
            </p>
            <p class="text-devoglas-third text-xl font-extrabold pt-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </p>
        </div>

        <div class="relative mt-8 box-border w-[400px] h-[406px] border shadow-xl p-10">
            <span><img class="pt-10" src="images/rocket-icon.png" width="44.95" height="45" alt="Rocket icon"></span>
            <p class="text-devoglas-main text-3xl font-black pt-6">
                Lorem ipsum dolor consectetur adipiscing elit.
            </p>
            <p class="text-devoglas-third text-xl font-extrabold pt-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </p>
        </div>

        <div class="relative mt-8 box-border w-[400px] h-[406px] border shadow-xl p-10">
            <span><img class="pt-10" src="images/check-icon.png" width="45" height="45" alt="Check icon"></span>
            <p class="text-devoglas-main text-3xl font-black pt-6">
                Lorem ipsum dolor consectetur adipiscing elit.
            </p>
            <p class="text-devoglas-third text-xl font-extrabold pt-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </p>
        </div>
     </div>
    </article>
</section>