<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/tailwind.css" />
    <title>{{ .Title }}</title>
    <script src="https://kit.fontawesome.com/4cd87bf5ed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="js/swiper.js" defer></script>
  </head>

  <body class="select-none box-border">
    <header>
        <nav class="relative first-line:marker:bg-white font-raleway flex flex-wrap md:items-center md:justify-evenly px-4 py-8 mb-4 md:mb-0 md:py-3">  
            <figure>
                <img class="mb-12 md:mb-auto md:mx-20" src="images/logo.svg" alt="Devoglas-logo"/>
            </figure>
            <span class="md:invisible text-devoglas-main fa-solid fa-xmark text-4xl absolute top-7 right-6"></span>

            <div class="mx-auto md:mr-8">
                <ul class="relative flex flex-col md:flex-row items-center text-2xl md:text-xl text-devoglas-main font-extrabold gap-8"> 
                    <li>
                        <a class="transition-none px-4 py-1 hover:border-b-2 border-[#0BBDE6] hover:-mb-1" href="#howwework">How We Work</a>
                    </li>
                    <li>
                        <a class="transition-none px-4 py-1 hover:border-b-2 border-[#0BBDE6] hover:-mb-1" href="#insights">Our Insights</a>
                    </li>
                    <li>
                        <a class="transition-none px-4 py-1 hover:border-b-2 border-[#0BBDE6] hover:-mb-1" href="#aboutus">About Us</a>
                    </li>
                    <li>
                        <a class="transition-none px-4 py-1  text-white md:py-2 bg-devoglas-main hover:bg-devoglas-second hover:shadow-md" href="#contactus">
                            CONTACT US
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
