<div class="flex flex-col md:flex-row text-devoglas-main font-black text-3xl my-8 gap-5">
    <p class="bg-[#0BBDE6] text-center p-2">LEARN MORE</p>
    <p class="bg-white text-center p-2">HOW WE WORK</p>
</div>